# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
*.iml
.idea/

# Generated
*.g.dart
*.freezed.dart

# Platform folders are created by `flutter create .` (see README)
